.container{
    @apply max-w-form w-full bg-white p-5 sm:p-8 rounded-3xl
}

.singinLogo{
    @apply font-thin text-center lg:text-left text-4xl md:text-5xl 
}

.forgotPass{
    @apply font-semibold text-oBut pt-4 cursor-pointer
}

.reg1{
    @apply text-lg pt-4 text-center
}
.spinnerCont{
    position: relative;
}

.spinner{
    position: absolute;
    top: 15px;
    left: calc(50% - 16px);
}
.reg2{
    @apply cursor-pointer text-oBut font-semibold
}

